.container-access {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.access {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 320px;
  padding: 20px;
}

.access form {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 15px; /* Adds a 10px gap between form elements */
}



.button-loginsignup,
.button-register {
  display: flex;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  gap: 20px;
  min-height: 48px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-normal);
}

.button-loginsignup {
  justify-content: center;
  background-color: var(--container-color-layer-2);
  color: var(--color-primary-light);
}

.button-loginsignup:hover {
  background-color: var(--container-color-layer-3);
  cursor: pointer;
}

.button-loginsignup:active {
  background-color: var(--container-color-layer-2);
  color: var(--color-muted-light);
}

.agreement {
  margin-left: 5px;
  margin-right: 5px;
  font-size: var(--font-size--1);
  color: var(--color-muted-light);
}

.link {
  color: var(--color-primary-light); /* Change color on hover */
  text-decoration: none; /* Add an underline to the links */
}

.link:hover {
  text-decoration: underline; /* Add an underline to the links */
}

.access-dropdown {
  display: flex;
  align-items: center;
  width: 100%;
  border: none;
  border-radius: var(--border-radius);
  box-sizing: border-box;
  color: var(--color-muted-light);
  background-color: transparent;
  height: 19.2px;
}

.access-dropdown select {
  -webkit-appearance: none; /* Removes default dropdown icon in WebKit browsers */
  -moz-appearance: none;    /* Removes default dropdown icon in Firefox */
  appearance: none;     
  width: 100%;
  height: fit-content;
  text-align: left;
  display: inline-flex;
  border: none;
  box-sizing: border-box;
  color: var(--color-muted-light);
  background-color: transparent;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-0);
  font-weight: var(--font-weight-normal);
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" fill="rgb(133, 133, 133)" viewBox="0 0 24 24" width="24" height="24"><path d="M21.56,7.29c-.78-.78-2.05-.78-2.83,0,0,0,0,0,0,0l-6.11,6.11c-.26.26-.68.26-.94,0l-6.11-6.11c-.78-.78-2.05-.78-2.83,0s-.78,2.05,0,2.83l6.11,6.11c1.82,1.82,4.78,1.82,6.6,0h0s6.11-6.11,6.11-6.11c.78-.78.78-2.05,0-2.83h0Z"/></svg>'); /* Default arrow icon */
  background-repeat: no-repeat;
  background-position: right center; /* Position the icon to the right */
  background-size: 18px 18px; /* Customize the icon size */
}

.access-dropdown select:hover {
  color: var(--color-primary-light); /* Optional: Change the text color on hover */
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" fill="rgb(255, 255, 255)" viewBox="0 0 24 24" width="24" height="24"><path d="M21.56,7.29c-.78-.78-2.05-.78-2.83,0,0,0,0,0,0,0l-6.11,6.11c-.26.26-.68.26-.94,0l-6.11-6.11c-.78-.78-2.05-.78-2.83,0s-.78,2.05,0,2.83l6.11,6.11c1.82,1.82,4.78,1.82,6.6,0h0s6.11-6.11,6.11-6.11c.78-.78.78-2.05,0-2.83h0Z"/></svg>'); /* Default arrow icon */
  cursor: pointer;
}

.access-dropdown select:focus {
  background-color: var(--container-color-layer-1); /* Change to your desired hover color */
  border: none;
  color: var(--color-primary-light); /* Change text color as needed */
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" fill="rgb(255, 255, 255)" viewBox="0 0 24 24" width="24" height="24"><path d="M21.56,7.29c-.78-.78-2.05-.78-2.83,0,0,0,0,0,0,0l-6.11,6.11c-.26.26-.68.26-.94,0l-6.11-6.11c-.78-.78-2.05-.78-2.83,0s-.78,2.05,0,2.83l6.11,6.11c1.82,1.82,4.78,1.82,6.6,0h0s6.11-6.11,6.11-6.11c.78-.78.78-2.05,0-2.83h0Z"/></svg>'); /* Default arrow icon */
  outline: none;
}

.access-dropdown span {
  margin: 0 5px; /* Add spacing around the slash */
}

/* Autofill input styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: var(--container-color-layer-1) !important; /* Change background color */
  color: var(--color-muted-light) !important; /* Text color */
  border: none; /* Border when autofilled */
  -webkit-text-fill-color: var(--color-muted-light) !important; /* Adjust text color */
  transition: background-color 5000s ease-in-out 0s; /* Prevent default flash of color */
  height: fit-content;
}

.password-and-toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20px;
  flex-grow: 1;
}

.password-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input-wrapper input {
  flex-grow: 1;
}

.toggle-password-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18px;
  width: 18px;
  cursor: pointer;
}

.toggle-password-icon:hover {
  fill: var(--color-primary-light);
}



input[type="date"] {
  color: var(--color-muted-light); /* Set the text color */
  background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" fill="rgb(133, 133, 133)" viewBox="0 0 24 24" width="24" height="24"><path d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.1 0-2 .9-2 2v15c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 17H5V9h14v11zM7 11h5v5H7z"/></svg>') no-repeat right;
  background-size: 18px 18px;
  background-color: transparent; /* Keep background color clear */
  appearance: none; /* Removes native styling */
  -webkit-appearance: none;
  height: 19.2px;
  -moz-appearance: none;
}

input[type="date"]:hover {
  background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" fill="rgb(246, 246, 246)" viewBox="0 0 24 24" width="24" height="24"><path d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.1 0-2 .9-2 2v15c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 17H5V9h14v11zM7 11h5v5H7z"/></svg>') no-repeat right;
  background-size: 18px 18px;
}


input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0; /* Hide the native icon */
  cursor: pointer;
}


